.env

# Ignore generated directories from dl_lit scripts
/dl_lit/temp_pages/*
!/dl_lit/temp_pages/.gitkeep
/dl_lit/bibliographies/*
!/dl_lit/bibliographies/.gitkeep
/backend/backend/
/backend/node_modules/
/backend/uploads/*
!/backend/uploads/.gitkeep
/backend/dl_lit/
/backend/temp_pages/*
!/backend/temp_pages/.gitkeep
/backend/bibs/
temp_test_input/
temp_test_output/
.roo/
.vscode/
cline.json
new_search_results/*
!/new_search_results/.gitkeep
dl_lit/temp_bib_pages/
*.pdf
*.log
venv/
done/
dl_lit/done/
processed_references.db
processed_references.db.old
testdir
dl_lit/scraped
**/*.db
**/*.bib
**/*.pdf
*.sqlite
processed_references.db
dl_lit/bib_output/MM_IGZA_Bd-5-GT-1-6-2023-2/MM_IGZA_Bd-5-GT-1-6-2023-2_bibliography_pages.json
processed_references.db
dl_lit_project/data/metadata.bib
dl_lit/exported_bib/current_references.bib
__pycache__/
dl_lit_project/inspect_db.py

# OCR output directories
ocr/ocr_results/
ocr/translated/